{
  http_port 81
  local_certs
}

# This is for the UI server.
nodeauth.dev { 
  reverse_proxy 127.0.0.1:5000
}

# This is for the API server.
# Why is it important for this to be a subdomain of the UI server?
api.nodeauth.dev {
  reverse_proxy 127.0.0.1:1919
}
