:root {
  --border-color: lightgray;
  --label-width: 5rem;
}

body {
  background-color: linen;
  font-family: sans-serif;
}

button {
  background-color: cornflowerblue;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}

button:disabled {
  background-color: darkgray;
}

.buttons {
  padding-left: calc(var(--label-width) + 4px);
}

div {
  margin-bottom: 0.5rem;
}

h2 {
  border-top: 1px solid cornflowerblue;
  padding-top: 1rem;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.5rem;
  width: 15rem;
}

label {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: var(--label-width);
}
